.rojo{
    background: red;
    color: white;
}

.azul{
    background: lightblue;
    color: black;
}

.activo{
    font-weight: bold;
}

.activo{
    font-weight: bold;
}

.clasesuperimportante{
    
}